.articleWrapper a {
  width: 23%;
}

.title {
  text-align: left;
  margin-bottom: 0.5rem;
}

.articleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  flex-wrap: wrap;
}
